@page "/contato"

<h1 class="text-2xl font-bold mb-4">Contato</h1>
<p>Email: <a href="mailto:brendonmauro@hotmail.com" class="text-blue-600">brendonmauro@hotmail.com</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/brendon-mauro-811540a3" class="text-blue-600">linkedin.com/in/brendon-mauro</a></p>
<p>GitHub: <a href="https://github.com/" class="text-blue-600">github.com</a></p>

@code {

}
