@page "/"

<img src="images/foto_perfil.jpg" alt="Brendon">
<h1 class="text-3xl font-bold mb-4">Olá, eu sou Brendon Mauro 👋</h1>
<p class="mb-4">RPA Developer | Full Stack .NET | Automação de Processos e APIs</p>
<a href="https://www.linkedin.com/in/brendon-mauro-811540a3" class="mr-4 text-blue-600">LinkedIn</a>
<a href="https://github.com/brendonmauro" class="text-gray-700">GitHub</a>
@code {

}
