@page "/skills"

<h1 class="text-2xl font-bold mb-4">Skills</h1>
<ul class="list-disc pl-6">
    <li><strong>Back-End:</strong> .NET, C#, EF Core, APIs REST, PostgreSQL, SQL Server</li>
    <li><strong>Front-End:</strong> HTML, CSS, JavaScript, React Native, Blazor</li>
    <li><strong>Automação/RPA:</strong> Selenium, Worker Services</li>
    <li><strong>DevOps/Ferramentas:</strong> Git, Azure DevOps, ElasticSearch, CI/CD</li>
</ul>

@code {

}
