@page "/sobre"

<h1 class="text-2xl font-bold mb-4">Sobre mim</h1>
<p>Bacharel em Sistemas de Informação com mais de 5 anos de experiência em desenvolvimento de software. Tenho atuado em projetos de automação, APIs, RPA e soluções completas em .NET.</p>

@code {

}
